<header>
    <span>Redro <em>$</em> Marketplace</span>
    <nav>
        <a href="/">Главная</a>
        <a href="/about">О нас</a>
    </nav>
    <form>
        <input type="text" placeholder="Поиск">
        <button>Поиск</button>
    </form>
</header>